.product {
  width: 46%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 20px 15px;
  display: inline-grid;
}

.productWrapper {
  padding: 10px;
}

.productTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTopLeft {
  display: flex;
  align-items: center;
}

.productProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.productUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.productDate{
    font-size: 12px;
}

.productCenter{
    margin: 20px 0;
}

.productImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.productBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.productLikeCounter{
    font-size: 15px;
}

.productCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.bidProduct{
  padding: 5px 30px;
  font-size: large;
  outline: none;
  border: none;
  background-color: #f8b30d;
  border-radius: 5%;
}